@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import 'tailwindcss';

* {
  font-family: 'Titan One', cursive, sans-serif;
  font-weight: 400;
}

.font-loading {
  visibility: hidden;
}

.font-loaded {
  visibility: visible;
}
